
body {
    margin: 0;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 1rem;
  }
  

  
  
  /* Side Menu */
  .header img {
    padding-left: 2px;
    padding-top: 5px;
  }

  .header h6 {
    height: 65%;
  }
  
  .header {
    color: white;
    width: 30px;
    float: left;
   height: 100%;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: rgb(41, 41, 41);
  }
  
.header li {
   list-style: none;
   font-size: 12px;
   font-weight: bold;
   padding-top: 20px;
}



/* Main Block */
  #container {
    min-height: 100%;
    color: white;
    overflow-x: hidden;
    background-image: url(Image/Background.jpg);
    background-repeat:repeat-y;
    padding-left: 30px;
  }
  
  #MidBox {
    height: 15vh;
    width: 25vw;
    margin-left: 70vw;
    margin-top: 3vh;
    background-color: rgb(41, 41, 41);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  }
  
  #MidBox h1[alt="heading"] {
    color: rgb(15, 15, 15);
    text-align: center;
    padding-top: 25px;
    font-size: 25px;
  }


  /*Login*/
  #Login {
    width: 100px;
    background-image: url(Image/Login.png); 
    margin-left: 25vw;
    margin-top: 15vh;
  }
  











/* Footer */
  #footer {
    background-color: rgb(41, 41, 41);
    position: relative;
    height: 100px;
    clear: both;
  }
  
  #copyright{
    background-color: rgb(41, 41, 41);
    color: white;
    text-align: center;
    height: 25px;
  }
  
 


/* Socials */
#footer img {
  transform: translateX(60px);
  padding-left: 2px;
  padding-top: 30px;
}




/* Text */
  a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    cursor: pointer;
    position: relative;
    
  }
  
  


